@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sofia+Sans+Semi+Condensed:wght@700&family=Sofia+Sans:wght@100;400;500;600&display=swap');

:root{
    --cor--preta: ;
    --cor--rosa: #ff0084;
    --cor--branco: ;
    --cor--cinza: ;
    --fonte--principal:'Sofia Sans', sans-serif;;
    --fonte--principal--bold: 'Sofia Sans Semi Condensed', sans-serif;
    --fonte--secundaria: 'Bebas Neue', sans-serif; ;
    
}
body{
    padding: 0;
    margin: 0;
    height: 100vh;
}

.cabecalho{
    background-color: var(--cor--rosa) ;
}
.cabecalho__menu{
    font-family: var(--fonte--principal);
}
